body {
    line-height: 1.8;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #7ab0a3 !important; /* Green */
    color: #ffffff !important;
}

.bg-2 {
    background-color: #393E46 !important; /* Dark Blue */
    color: #ffffff !important;
}

.bg-3 {
    background-color: #ffffff !important; /* White */
    color: #555555 !important;
}

.bg-4 {
    background-color: #2f2f2f !important; /* Black Gray */
    color: #fff !important;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    font-variant: small-caps;
    background-color: #393E46;
}

html, body {
    height: 100%;
}

.centered-form-container {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.centered-form {
    display: table-cell;
    vertical-align: middle;
}
